@model IEnumerable<Services.Models.Candidate>

@{
    ViewBag.Title = "title";
}

<h2>Candidates</h2>

<table class="table table-hover">
    @foreach (var candidate in Model)
    {
        <tr>
            <td>@candidate.Id</td>
            <td>@candidate.FirstName</td>
            <td>@candidate.LastName</td>
        </tr>
    }
</table>